
@font-face {
  font-family: 'myFirstFont';
  src: url(fonts/Precious.ttf);
  font-style: normal;
  font-weight: 100;
}

/**************
*     Body
**************/

body {
    background-image: url("pics/wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
}

/**************
*Navigation Bar
**************/

.topnav {
    z-index: 9999;
    overflow: hidden;
    background:rgba(255,255,255, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: right;
    transition: 0.4s;
    padding: 15px 0px;
}

h1#header{
   padding-left: 10px;
   text-align: left;
   font-size: 1.4rem;
   color: white;
   font-weight: lighter;
   font-family: sans-serif;
}

#secondHeader {
    padding-left: 10px;
    color: firebrick;
    text-align: left;
    font-size: 1.1rem;
}

#title {
    color: white;
    font-size: 2.1em;
    font-weight: lighter;
}

#description {
    color: white;
    font-size: 1.1em;
}

.topnav a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightgray;
}

.links {
    position: fixed;
    right: 10px;
}

.fab {
    color: white;
}

.fas {
    color: white;
}

/**************
*   Content
**************/

.img-container {
    margin-top: 100px;
    text-align: center;
}

#mainPicture {
    border-radius: 25px;
    margin-top: 50px;
    box-shadow: 0 4px 2px -2px black;
}

.wrapper {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.one {
    grid-column: 1 / 3;
    grid-row: 1;
}
.two { 
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.three {
    grid-column: 1;
    grid-row: 2 / 5;
}
.four {
    grid-column: 3;
    grid-row: 3;
}
.five {
    grid-column: 2;
    grid-row: 4;
}
.six {
    grid-column: 3;
    grid-row: 4;
}

h1 > span { 
    color: white;
}

#end {
    font-family: myFirstFont;
}

/**************
*  Constraints
**************/

@media (min-width: 550px) {

.four {
    text-align: center;

}
}